<a ontouchstart="" class="player-detail-toggle" id="player-<%= id %>">
  <article class="player-card" id="card-<%= id %>">
    <img src="./res/img1.jpg">
    <div class="player-detail" id="detail-player-<%= id %>" data-is-show="false">
      <p>
        <%= name %>
      </p>
      <p>
        <%= description %><br />
        <object><a href="<%- url %>"><%- url %></a></object>
      </p>
    </div>
  </article>
</a>