<a ontouchstart="" class="player-detail-toggle" id="player-<%= id %>">
  <article class="player-card" id="card-<%= id %>">
    <img src="./res/<%= `${id}${imgFormat}` %>">
    <div class="player-detail" id="detail-player-<%= id %>" data-is-show="false">
      <h3>
        <%= name %>
      </h3>
      <p>
        <%- description %>
      </p>
    </div>
  </article>
</a>