<!DOCTYPE html>

<%
  const siteTitle = 'iamasonic'
  const siteUrl = 'https://www.iamas.ac.jp/iamasonic'
  const topImgUri = '/res/header_logo.png'
  const descript = 'iamasonicです。'
  const faviconUri = '/res/favicon.ico'
%>

<html lang="ja">
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= siteUrl + faviconUri %>">
  <title><%= siteTitle %></title>
  <meta property="og:url" content="<%= siteUrl %>" />
  <meta property="og:title" content="<%= siteTitle %>" />
  <meta property="og:description" content="<%= descript %>" />
  <meta property="og:image" content="<%= siteUrl + topImgUri %>" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="<%= siteTitle %>" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@nasustim" />
</head>
<body>
  <div id="container">
    <header>
      <canvas id="header-image"></canvas>
      <div id="header-logo-container">
        <img id="header-logo" src="res/header_logo.png" alt="iamasonic2019" />
      </div>
    </header>
    <main>
      <section>
        <h2 class="easing-block1 sub-title">イベント詳細</h2>
        <div class="easing-block1" id="event">
          aaa
        </div>
      </section>
      <section>
        <h2 class="easing-block2 sub-title">タイムテーブル</h2>
        <div class="easing-block2" id="timetable">
          <table id="table-timetable">
            <tr>
              <th>Time</th><th>Performer</th><th>Genre</th>
            </tr>
            <% for(let i in timetableData){ %>
              <tr>
                <td><%= timetableData[i].time %></td>
                <td><%= timetableData[i].name %></td>
                <td><%= timetableData[i].genre %></td>
              </tr>
            <% } %>
          </table>
        </div>
      </section>
      <section>
        <h2 class="easing-block3 sub-title">演者</h2>
        <div class="easing-block3" id="players">
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 0){ %>
                <%- include('./components/player.ejs', {id: playersData[i].id, name: playersData[i].name, description: playersData[i].description, imgFormat: playersData[i].imgFormat, key: i}) %>
              <% } %>
            <% } %>
          </div>
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 1){ %>
                <%- include('./components/player.ejs', {id: playersData[i].id, name: playersData[i].name, description: playersData[i].description, imgFormat: playersData[i].imgFormat, key: i}) %>
              <% } %>
            <% } %>
          </div>
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 2){ %>
                <%- include('./components/player.ejs', {id: playersData[i].id, name: playersData[i].name, description: playersData[i].description, imgFormat: playersData[i].imgFormat, key: i}) %>
              <% } %>
            <% } %>
          </div>
        </div>
      </section>
      <section>
        <h2 class="easing-block4 sub-title">アクセス</h2>
        <div class="easing-block4" id="access">
          access
        </div>
      </section>
    </main>
    <footer>
      <div id="footer-image"></div>
      <!--<img class="easing-block5" id="footer-logo" src="res/header_logo.png" alt="iamasonic2019" />-->
    </footer>
  </div>
</body>
</html>
<script>
  window.scrollTo(0, 0)
</script>