<!DOCTYPE html>

<%
  const siteTitle = 'IAMASONIC 2019'
  const siteUrl = 'https://www.iamas.ac.jp/iamasonic'
  const topImgUri = '/res/header_logo.png'
  const descript = 'IAMASONIC2019 @ソフトピアジャパン センタービル せせらぎステージ 2019/07/29 17:10-19:40 あの伝説のライブパフォーマンスイベント、ついに復活…乞うご期待！！'
  const faviconUri = '/res/favicon.ico'
%>

<html lang="ja">
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= siteUrl + faviconUri %>">
  <meta name="description" content="<%= descript %>" />
  <title><%= siteTitle %></title>
  <meta property="og:url" content="<%= siteUrl %>" />
  <meta property="og:title" content="<%= siteTitle %>" />
  <meta property="og:description" content="<%= descript %>" />
  <meta property="og:image" content="<%= siteUrl + topImgUri %>" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="<%= siteTitle %>" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@nasustim" />
</head>
<body>
  <div id="container">
    <header>
      <canvas id="header-image"></canvas>
      <div id="header-logo-container">
        <img id="header-logo" src="res/header_logo.png" alt="iamasonic2019" />
      </div>
    </header>
    <main>
      <section>
        <p class="easing-block0 intro">かつて、IAMASにはIAMASONICというライブパフォーマンスイベントがありました。</p>
        <p class="easing-block0 intro">残念ながら数年前に途絶えてしまい、ネットアーカイブも少ないことから現在ではさながら伝説の奇祭のようですが、このたび復活を試みようと思います。</p>
        <p class="easing-block0 intro">ご期待ください。</p>
      </section>
      <section>
        <h2 class="easing-block1 sub-title">About the Event</h2>
        <div class="easing-block1" id="event">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d813.3789908035137!2d136.6398758292275!3d35.3676569987668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDIyJzAzLjYiTiAxMzbCsDM4JzI1LjUiRQ!5e0!3m2!1sja!2sjp!4v1563435850967!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div>
            <h4>Place</h4>
            <p>岐阜県大垣市</p>
            <p>ソフトピアジャパン センタービル せせらぎステージ</p>
            <p>（雨天時：センタービル3階 ギャラリー1）</p>
            <h4>Date & Time</h4>
            <p>2019/07/28 - 17:10 〜 19:40</p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="easing-block2 sub-title">Time Table</h2>
        <div class="easing-block2" id="timetable">
          <table id="table-timetable">
            <tr>
              <th>Time</th><th>Performer</th>
            </tr>
            <% for(let i in timetableData){ %>
              <tr>
                <td class="tt-time"><%= timetableData[i].time %></td>
                <td class="tt-name"><%= timetableData[i].name %></td>
              </tr>
            <% } %>
          </table>
        </div>
      </section>
      <section>
        <h2 class="easing-block3 sub-title">Performers</h2>
        <div class="easing-block3" id="players">
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 0){ %>
                <%- include('./components/player.ejs', {id: playersData[i].id, name: playersData[i].name, description: playersData[i].description, imgFormat: playersData[i].imgFormat, key: i}) %>
              <% } %>
            <% } %>
          </div>
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 1){ %>
                <%- include('./components/player.ejs', {id: playersData[i].id, name: playersData[i].name, description: playersData[i].description, imgFormat: playersData[i].imgFormat, key: i}) %>
              <% } %>
            <% } %>
          </div>
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 2){ %>
                <%- include('./components/player.ejs', {id: playersData[i].id, name: playersData[i].name, description: playersData[i].description, imgFormat: playersData[i].imgFormat, key: i}) %>
              <% } %>
            <% } %>
          </div>
        </div>
      </section>
      <section>
        <h2 class="easing-block4 sub-title">アクセス</h2>
        <div class="easing-block4" id="access">
          <img src='res/img1.jpg' />
          <div class="outro-sentence">
            <p class="easing-block4 outro">大垣駅 20:23発 に 乗れば 23:10 には 渋谷に 着く！</p>
            <p class="easing-block4 outro">大垣駅 20:34発 に 乗れば 22:57 には 大阪に 着く！</p>
            <p class="easing-block4 outro">これで 帰れるね！</p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div id="footer-image"></div>
      <!--<img class="easing-block5" id="footer-logo" src="res/header_logo.png" alt="iamasonic2019" />-->
    </footer>
  </div>
</body>
</html>
<script>
  window.scrollTo(0, 0)
</script>